/* You can add global styles to this file, and also import other style files */
.m-t-20{
  margin-top:20px;
}
.m-b-20{
  margin-bottom:20px;
}
.p-20{
  padding:20px;
}
.p-l-20{
  padding-left:20px;
}
.p-r-20{
  padding-right:20px;
}
.p-t-20{
  padding-top:20px;
}
.p-b-20{
  padding-bottom:20px;
}
